<!doctype html>
<html lang="en">

<head>
    {% block head %}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Whats That Song: {% block title %}{% endblock %}</title>
    {% endblock %}
</head>

<body>
    <div class="container">
        <h1 class="mt-5 mb-5 pt-3">{% block header %}{% endblock %}</h1>
        <div id="content">{% block content %}{% endblock %}</div>
        <div id="footer" class="text-center">
            <p>{% block footer %}{% endblock %}</p>
            <p>a game by <a href="https://seagoat.dev/">SeaGoat Software</a></p>
        </div>
    </div>
</body>

</html>