{% extends "base.html" %}

{% block title %}
GAME
{% endblock %}

{% block content %}

<!-- <div class="text-center ml-5 mr-5"> -->

<div class="container text-center">

    <div class="row outlineblue">

        <div class="text-center outlinered">
            <h1 class="mt-3 mb-2">PLAY THE GAME</h1>
            <h5>USER ID: <i>{{ session["user_id"] }}</i></h5>
            <h3><i>{{ current_track["track_name"] }} by {{ current_track["track_artist"] }}</i></h3>
        </div>

        <div class="text-center largetext outlinered">
            <h5 class="mt-5 mb-3">snip:</h5>
            {{ snip }}

        </div>

        <div class="text-center largetext outlinered">
            <h5 class="mt-5 mb-3">track dict:</h5>
            <ul class="nonum">
            {% for t in game_tracks %}
                <li>{{ t.track_name }} &nbsp; // by {{ t.track_artist }} &nbsp; (Album: {{ t.track_album }})</li>
            {% endfor %}
            </ul>

        </div>

        <div class="text-center largetext outlinegreen">
            <h4 class="mt-5 mb-3">LYRICS from {{lyric_source}}:</h4>
            {% autoescape false %} {{ lyric | replace('\r\n', '<br>') | replace('\n', '<br>') }} {% endautoescape %}
        </div>

        <!-- <div class="text-center largetext col-6 outlinegreen">
            <h4 class="mt-5 mb-3">LYRICS 2:</h4>
            {% autoescape false %} {{ lyrics2 | replace('\n', '<br>') }} {% endautoescape %}
        </div> -->

    </div>

<!-- 
    <p class="largetext mt-3 mb-1">
        {{ lyrics2 }}
    </p> -->

</div>

<!-- </div> -->

{% endblock %}