{% extends "base.html" %}

{% block title %}
GAME
{% endblock %}

{% block content %}

<script>
    function showMe(btn) {
        var lyricdiv = document.getElementById("full_lyric");
        lyricdiv.style.display = "block";
        var correct_btn = document.getElementById("correct_btn");
        btn.style.backgroundColor = "darkred";
        correct_btn.style.backgroundColor = "green";
    }
</script>

<div class="container text-center">

    <div class="row">
        <div class="text-center">
            <h1 class="mt-5 mb-2">What's That Song?</h1>
        </div>

        <div class="text-center largetext m-1 p-4 lyric">
            <!-- <span class="lyric m-4 p-4"> " {{ snip }} " </span> -->
            " {{ snip }} "
        </div>
    </div>

    <div class="row text-center largetext m-3">
        <!-- <div class="text-center largetext mt-4 mb-2"> -->
        <h4 class="mb-3">Was it...</h4>
        <!-- <ul class="nonum">
                {% for t in game_tracks %}
                <li>{{ t.track_name }} &nbsp; // by {{ t.track_artist }} &nbsp; (Album: {{ t.track_album }})</li>
                {% endfor %}
            </ul> -->
        <!-- </div> -->

        {% for t in game_tracks %}
        <div class="col-3">
            <button type="button" 
                    class="btn btn-primary largetext w-100" 
                    {% if t["correct"] == True %} id="correct_btn" {% endif %}
                    onclick="showMe(this)">
                    {{ t.track_name }}
            </button>
            <!-- {{ t.track_name }} &nbsp; -->
            <!-- // by {{ t.track_artist }} &nbsp; -->
            <br />By: {{ t.track_artist }}
            <br />Album: {{ t.track_album }}
        </div>
        {% endfor %}

    </div>

    <div class="row hidefirst text-center " id="full_lyric">
        <div class="text-center largetext">
            <a href="/" class="btn btn-secondary mb-3" role="button">Try Another &nbsp;&gt;&gt;</a>
            <br />
            <iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/{{detail['id']}}?utm_source=generator&theme=0" width="50%" height="152" frameBorder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>

        <div class="text-center largetext">
            <h4 class="mt-2 mb-1"><i>{{ current_track["track_name"] }} by {{ current_track["track_artist"] }}</i></h4>
            {% autoescape false %} {{ lyric | replace('\r\n', '<br>') | replace('\n', '<br>') }} {% endautoescape %}
            <h5 class="mt-4 mb-1"><i>(Lyrics from {{lyric_source}})</i></h5>
        </div>
    </div>


</div>

{% endblock %}