{% extends "base.html" %}

{% block title %}Your Profile{% endblock %}

{% block content %}

<!-- PROFILE DIV -->
<div id="profile" class="align-content-center">

    <!-- PROFILE HEADER TABLE -->
    <table class="table table-striped">
        <thead>
            <tr>
                <td class="align-bottom w-25 text-end">
                    <h1>Logged in as <i>{{ data.display_name }}</i></h1>
                </td>
                <td class="align-bottom w-75 text-center">
                    {% if data.images %}
                        <img width="150" src="{{ data.images.0.url }}" />
                    {% endif %}
                    &nbsp; Last visited (UTC): {{ session["last_visit"] }}
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="text-end">Spotify Id</td>
                <td>
                    <a href="{{ data.external_urls.spotify }}">{{ data.external_urls.spotify }}</a>
                </td>
            </tr>
            <tr>
                <td class="text-end">Spotify URI</td>
                <td><a href="{{ data.uri }}">{{ data.uri }}</a></td>
            </tr>
            <tr>
                <td class="text-end">Email</td>
                <td>{{ data.email }}</td>
            </tr>
            <tr>
                <td class="text-end">Country</td>
                <td>{{ data.country }}</td>
            </tr>
            <tr>
                <td class="text-end">Followers</td>
                <td>{{ data.followers.total }}</td>
            </tr>
            <tr>
                <td class="text-end">Account Type</td>
                <td>{{ data.product }}</td>
            </tr>
        </tbody>
    </table>
</div>

</div>

<!-- TEST SPLIT DIV -->
<!-- <div class="outlineblue d-inline m-3 p-3">div1</div> <div class="outlinered d-inline m-3 p-3">div2</div> -->


<!-- LIKED SONGS DIV -->
<div id="liked" class="text-black-50">

    <div class="media-bod text-center">

        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th class="text-center">
                        <h3 class="text-center mt-1">LIKED SONGS</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% if tracks | length == 0 %}
                <tr>
                    <td><h5 class="text-danger">PLEASE LIKE SOME SONGS TO PLAY THIS GAME</h5></td>
                </tr>
                {% endif %}

                {% for t in tracks %}
                <tr>
                    <td>{{ t.track_name }} &nbsp; // by {{ t.track_artist }} &nbsp; (Album: {{ t.track_album }})</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<!-- PLAYLISTS DIV -->
<div id="playlists">

    <h3 class="text-center mt-4">PLAYLISTS</h3>

    <div class="media-bod">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Playlist Image</th>
                    <th class="text-left">Playlist Name</th>
                    <th class="text-center"># of Tracks</th>
                </tr>
            </thead>
            <tbody>
                {% if playlists | length == 0 %}
                <tr>
                    <td colspan="3" class="text-center"><h5 class="text-danger">PLEASE CREATE SOME PLAYLISTS TO PLAY THIS GAME</h5></td>
                </tr>
                {% endif %}

                {% for p in playlists %}
                <tr>
                    <td class="text-center">
                        <a href="{{ p['tracks_url'] }}" target="_blank">
                            <img class="media-object" width="150" src="{{ p['image0'] }}" />
                        </a>
                    </td>
                    <td class="text-left">{{ p['name'] }}</td>
                    <td class="text-center">{{ p['tracks_count'] }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>


<!-- PL TRACKS DIV -->
<div id="pl_tracks" class="text-black-50">

    <div class="media-bod text-center">

        <table class="table table-striped text-center">
            <thead>
                <tr>
                    <th class="text-center">
                        <h3 class="text-center mt-3">PLAYLIST TRACKS</h3>
                    </th>
                </tr>
            </thead>
            <tbody>
                {% for t in pl_tracks %}
                <tr>
                    <td>{{ t.track_name }} &nbsp; // by {{ t.track_artist }} &nbsp; (Album: {{ t.track_album }})</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

</div>




<!-- TOKENS -->
<h2>Token Information</h2>
<dl class="dl-horizontal" id="tokens">
    <dt>Access token</dt>
    <dd class="text-truncate">{{ tokens.access_token }}</dd>
    <dt>Refresh token</dt>
    <dd class="text-truncate">{{ tokens.refresh_token }}</dd>
</dl>
{% endblock %}

{% block footer %}

<button type="button" class="btn btn-success btn-xs" onclick="refreshTokens()">Refresh Token</button>
<a href="/logout" class="btn btn-danger btn-xs">Logout</a>


<!-- Token info template -->
{% raw %}
<script id="token-template" type="text/x-handlebars-template">
  <dt>Access token</dt><dd class="text-truncate">{{access_token}}</dd>
  <dt>Refresh token</dt><dd class="text-truncate">{{refresh_token}}</dd>
</script>
{% endraw %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.1.1/handlebars.js"></script>
<script>
    (function () {

        // Token template
        var tokenSource = document.getElementById('token-template').innerHTML,
            tokenTemplate = Handlebars.compile(tokenSource),
            tokenPlaceholder = document.getElementById('tokens');

        function refreshTokens() {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    let res_json = JSON.parse(this.responseText);
                    tokenPlaceholder.innerHTML = tokenTemplate(res_json);
                }
            };
            xhttp.open("GET", "{{ url_for('refresh') }}", true);
            xhttp.send();
        }

        window.refreshTokens = refreshTokens;
    })();
</script>
{% endblock %}